<div class="container">
    <div class="row">
        <div class="col m12 center">
            <h1>The Burger Joint</h1>       
        </div>
    </div>
    <div class="row">
        <div class="col m12">
            <form class="create-form">
                <div class="input-field col m6">
                    <input placeholder="Create a Burger" id="burger-name" name="burger-name" type="text">
                    <label for="burger_name"></label>
                </div>
                <div class="col m6">
                    {{!-- <button class="btn-floating btn-large waves-effect waves-light indigo darken-4" type="submit" name="action">
                        <i class="material-icons right">add</i>
                    </button> --}}
                    <button type="submit" name="action">
                        <img class="burger-icon" src="assets/img/burger-icon.png">
                    </button>
                    
                </div>
            </form> 
        </div>
    </div>
    <div class="row">
        <div class="col m6 center-align">
            <h2 class="orange lighten-4">- Menu -</h2>
            <ul>
                {{#each burgers}}
                    {{#unless devoured}}
                        {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        
        <div class="col m6 center-align">
            <h2 class="indigo lighten-4">- Your Order -</h2>
            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        {{> burgers/burger-block devoured=true}}
                    {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>
</div>
    

    






